.tag {
  font-size: 0.67rem;
  border-radius: 5px;
  margin: 0.67rem;
  margin-left: 0px;
  padding: 0.67rem;
  color: var(--colour-text-primary);
  background-color: var(--colour-grey);
  /* styling */
  border-radius: 5px;
  box-shadow: var(--colour-box-shadow);
}

.tag-list {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

