/* * * Universal * * */

/* Apply styling to all elements (including their `::before` and `::after`
pseudo-elements). One common use of this selector is to apply a custom
`box-sizing`. */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--colour-text-primary);
}

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,600;0,700;0,800;1,400&family=Open+Sans:wght@700&display=swap');



/* * * Root * * */
:root {
  /* primary colours */
  --colour-primary: #1177ca;
  --colour-secondary: #009078;
  --colour-tertiary: #f88c19;
  --colour-grey: #b0d4ce;
  --colour-white: #ffffffff;
  /* secondary colours */
  --mid-blue: #5b80a3;
  --primary-text-overlay: #071e34b4;
  --teal: #408a99;
  /* text colours */
  --colour-text-primary: #010f1d;
  --colour-text-secondary: #ffffffff;
  --colour-text-tertiary: #636363;
  /* fonts */
  --font-title: 'EB Garamond', sans-serif;
  --font-body: "EB Garamond", sans-serif;
  --font-details: "Gill Sans";
  /* shadows */
  --colour-box-shadow: 0 2px 6px 0 #0000001e, 0 0px 20px 0 rgba(0, 0, 0, 0.137);
}

/* * * Containers, main, and sections * * */

.page-container {
  display: block;
  width: 100%;
}

.layout-main {
  position: relative;
  display: flex;
  min-height: 800px;
  flex-direction: column;
  align-items: left;
  padding-left: 260px;
  padding-right: 15px;
  padding-bottom: 100px;
  padding-top: 80px;
}

section {
  position: relative;
  display: flex;
  max-width: 1200px;
  flex-direction: column;
  align-items: left;
  padding-left: 0px;
  padding-right: 120px;
  justify-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}


/* * * Text block content * * */

/* Headers */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
}

h1 {
  margin-bottom: 0.8rem;
  font-size: 2.1rem;
  font-weight: 300;
}

h2 {
  margin-bottom: 0.6rem;
  font-size: 1.9rem;
  font-weight: 300;
}

h3 {
  margin-bottom: 0.4rem;
  font-size: 1.7rem;
  font-weight: 300;
}

h4 {
  margin-bottom: 0rem;
  font-size: 1.5rem;
  font-weight: 700;
}

/* Overall styling, e.g. vertical spacing */
p,
ol,
ul,
pre,
blockquote,
figure,
hr,
dl {
  font-family: var(--font-body);
  font-weight: 300;
}

p {
  display: block;
  font-size: 1.3rem;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

ol,
ul {
  display: block;
  list-style: none;
}

li {
  display: block;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
}

/* * * Inline text semantics * * */

a {
  font-size: 1.3rem;
  color: var(--colour-text-primary);
  font-family: var(--font-body);
  font-weight: 600;
  text-decoration: none;
}

.side-bar-link {
  font-weight: 300;
}

a:hover {
  color: var(--colour-primary);
}

a:active {
  color: var(--colour-tertiary);
}

a:hover {
  color: var(--colour-tertiary);
}


strong {}

b {}

em {}

i {}

/* If you specify a font size, consider using the `em` unit so that it works
universally, e.g. for both `h1 small` and `p small` */
small {
  font-size: 1rem;
  margin-bottom: 0.4rem;
}

data {}

time {}

/* * * Demarcating edits * * */

del {}

ins {}


/* * * Embedded content * * */

img {}


/* * * Buttons * * */

/* .button-primary {
  width: 100px;
  padding: 10px;
  border-radius: 30px;
  border: none;
  text-align: center;
  color: var(--colour-text-primary);
  background-color: var(--colour-white);
  box-shadow: var(--colour-box-shadow);
} */

/* button:hover {
  background-color: var(--colour-tertiary);
} */


/* * * Media Queries * * */

@media screen and (max-width: 68em) {}

@media screen and (max-width: 56em) {
  .layout-main {
    padding-left: 80px;
  }

  section {

    padding-right: 80px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

}

@media screen and (max-width: 40em) {

  .layout-main {
    padding-left: 10px;
    padding-right: 10px;
  }

  section {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}