.side-nav ul {
  width: 200px;
  position: fixed;
  display: flex;
  left: 15px;
  top: 140px;
  flex-direction: column;
  z-index: 1;
  justify-content: right;
}

.side-nav-list li {
  justify-self: flex-end;
  list-style: none;
  padding-left: 20px;
  text-align: right;
}

.side-nav-link {
  font-size: 1.7rem;
  color: var(--colour-secondary);
  font-weight: 300;
}

@media screen and (max-width: 68em) {}

@media screen and (max-width: 56em) {
  .side-nav {
    display: none;
  }
}
